exportPattern("^[[:alpha:]]+")
import("dplyr","parallel","rslurm","readr","reticulate")
importFrom("methods", "as")
importFrom("stats", "sd", "quantile", "median")
importFrom("utils", "read.csv", "globalVariables")
importFrom("stringdist","stringdist")
importFrom("ShortRead", "readFastq", "writeFastq", "sread")
importFrom("Biostrings", "DNAStringSet","vcountPattern","quality","reverseComplement")
importFrom("graphics", "hist","abline")
