exportPattern("^[[:alpha:]]+")
import("dplyr","parallel","rslurm","readr","reticulate","gtools")
importFrom("methods", "as")
importFrom("stats", "sd", "quantile", "median")
importFrom("utils", "read.csv", "globalVariables")
importFrom("stringdist","stringdist")
importFrom("ShortRead", "readFastq", "writeFastq", "sread")
importFrom("Biostrings", "DNAStringSet","vcountPattern","quality","reverseComplement")
importFrom("graphics", "hist","abline")
importFrom("grDevices", "dev.off", "pdf")
importFrom("stats", "anova", "complete.cases", "fisher.test","p.adjust")
